body {
  touch-action: pan-y;
}
.defra-map-draw {
  &__container {
    position:relative;
    width:100%;
    height:300px;
  }
  &__debug {
    padding: 5px;
    border: 1px solid govuk-colour('black');
    @include govuk-font($size: 16);
    position:absolute;
    top: 5px;
    right: 5px;
  }
}
.defra-map-draw__inner-container {
  width:100%;
  height:100%;
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    position:absolute;
    pointer-events: none;
    content:'';
    left:3px;
    right:3px;
    top:3px;
    bottom:3px;
    outline: 3px solid $govuk-focus-colour;
    z-index: 99;
  }
}
.defra-map-draw__button-start {
  @extend .govuk-button;
  @extend .govuk-button--secondary;
  &:hover {
    color: $govuk-text-colour;
  }
}
.defra-map-draw__button-done {
  @extend .govuk-button;
  margin-top:32px;
}
.defra-map-draw-buttons {
  position: absolute;
  bottom:10px;
  left:10px;
  right:10px;
  box-sizing: border-box;
  height:auto;
  pointer-events: none;
  text-align:center;
  &__container {
    display: inline-block;
    margin:auto;
  }
  &__group {
    display: inline-block;
    background-color:white;
  }
  &__group:nth-child(2) {
    margin-left:5px;
    margin-right:5px;
  }
}
.defra-map-draw__button {
  @extend .govuk-button;
  @extend .govuk-button--secondary;
  box-shadow: none !important;
  top:0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  pointer-events: auto;
  margin: 0px;
  display: inline-block;
  width:auto;
  @include govuk-font($size: 16);
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -5000px;
  padding:0px;
  width:40px;
  height:40px;
  /*
  @include mq ($from: desktop) {
    text-indent: 0px;
    text-decoration: underline;
    width:auto;
    height:auto;
    padding:8px 10px 7px 33px;
  }
  */
  &--new {
    background-image: svg-url('<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;"><path d="M15.184,8.322c-0,-0 -3.592,3.825 -2.266,5.151l-9.993,3.583l3.582,-9.994c1.327,1.326 5.152,-2.265 5.152,-2.265" style="fill:none;stroke:#0b0c0c;stroke-width:1.07px;"/><path d="M17.569,7.314l-4.902,-4.903l-1.697,1.697l4.902,4.903l1.697,-1.697Z" style="fill:#0b0c0c;stroke:#0b0c0c;stroke-width:0.71px;stroke-linecap:square;stroke-miterlimit:1.5;"/><path d="M3.712,16.268l5.47,-5.47" style="fill:none;stroke:#0b0c0c;stroke-width:1.07px;stroke-linecap:square;stroke-linejoin:miter;"/><path d="M9.921,10.059c0.408,0.408 0.408,1.07 0,1.478c-0.408,0.408 -1.07,0.408 -1.477,-0c-0.408,-0.408 -0.408,-1.07 -0,-1.478c0.407,-0.407 1.069,-0.407 1.477,0Z" style="fill:#0b0c0c;stroke:#0b0c0c;stroke-width:1.07px;stroke-linecap:square;stroke-linejoin:miter;"/><rect x="-0" y="3" width="7.467" height="1.5" style="fill:#0b0c0c;"/><path d="M4.5,7.467l0,-7.467l-1.5,0l0,7.467l1.5,-0Z" style="fill:#0b0c0c;"/></svg>');
  }
  &--delete {
    background-image: svg-url('<svg width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;"><path d="M15.184,8.322c-0,-0 -3.592,3.825 -2.266,5.151l-9.993,3.583l3.582,-9.994c1.327,1.326 5.152,-2.265 5.152,-2.265" style="fill:none;stroke:#0b0c0c;stroke-width:1.07px;"/><path d="M17.569,7.314l-4.902,-4.903l-1.697,1.697l4.902,4.903l1.697,-1.697Z" style="fill:#0b0c0c;stroke:#0b0c0c;stroke-width:0.71px;stroke-linecap:square;stroke-miterlimit:1.5;"/><path d="M3.712,16.268l5.47,-5.47" style="fill:none;stroke:#0b0c0c;stroke-width:1.07px;stroke-linecap:square;stroke-linejoin:miter;"/><path d="M9.921,10.059c0.408,0.408 0.408,1.07 0,1.478c-0.408,0.408 -1.07,0.408 -1.477,-0c-0.408,-0.408 -0.408,-1.07 -0,-1.478c0.407,-0.407 1.069,-0.407 1.477,0Z" style="fill:#0b0c0c;stroke:#0b0c0c;stroke-width:1.07px;stroke-linecap:square;stroke-linejoin:miter;"/><rect x="-0" y="3" width="7.467" height="1.5" style="fill:#0b0c0c;"/></svg>');
  }
  &--done {
    background-image: svg-url('<svg width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.818,12.828l9.9,-9.899l2.121,2.121l-12.021,12.021l-5.657,-5.657l2.121,-2.121l3.536,3.535Z" style="fill:#0b0c0c;"/></svg>');
  }
  &--edit {
    // background-image: svg-url('<svg width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:5;"><path d="M15.184,8.322c-0,-0 -3.592,3.825 -2.266,5.151l-9.993,3.583l3.582,-9.994c1.327,1.326 5.152,-2.265 5.152,-2.265" style="fill:none;stroke:#0b0c0c;stroke-width:1.07px;"/><path d="M17.569,7.314l-4.902,-4.903l-1.697,1.697l4.902,4.903l1.697,-1.697Z" style="fill:#0b0c0c;stroke:#0b0c0c;stroke-width:0.71px;stroke-linecap:square;stroke-miterlimit:1.5;"/><path d="M3.712,16.268l5.47,-5.47" style="fill:none;stroke:#0b0c0c;stroke-width:1.07px;stroke-linecap:square;stroke-linejoin:miter;"/><path d="M9.921,10.059c0.408,0.408 0.408,1.07 0,1.478c-0.408,0.408 -1.07,0.408 -1.477,-0c-0.408,-0.408 -0.408,-1.07 -0,-1.478c0.407,-0.407 1.069,-0.407 1.477,0Z" style="fill:#0b0c0c;stroke:#0b0c0c;stroke-width:1.07px;stroke-linecap:square;stroke-linejoin:miter;"/></svg>');
    background-image: svg-url('<svg width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M15.657,7.172l-2.829,-2.829l-7.071,7.071l2.829,2.829l7.071,-7.071Z" style="fill:#0b0c0c;"/><path d="M16.364,2.222l1.414,1.414c0.39,0.39 0.39,1.024 0,1.414l-1.414,1.414l-2.828,-2.828l1.418,-1.419c0.391,-0.385 1.021,-0.384 1.41,0.005Z" style="fill:#0b0c0c;"/><path d="M2.929,17.071l2.121,-4.95l2.829,2.829l-4.95,2.121Z" style="fill:#0b0c0c;"/></svg>');
  }
  &--reset {
    // background-image: svg-url('<svg width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:1.5;"><g><path d="M6,17.49c-0.552,-0 -1,-0.448 -1,-1l0,-10l10,-0l-0.044,10c-0,0.552 -0.448,1 -1,1l-7.956,-0Z" style="fill:none;stroke:#000;stroke-width:1px;"/><path d="M3,6.49l14,-0" style="fill:none;stroke:#000;stroke-width:1px;"/><path d="M15.5,5.512c0,-0.139 -0.055,-0.272 -0.153,-0.369c-0.098,-0.098 -0.23,-0.153 -0.369,-0.153c-1.853,-0 -8.103,-0 -9.956,-0c-0.139,-0 -0.271,0.055 -0.369,0.153c-0.098,0.097 -0.153,0.23 -0.153,0.369c-0,0.433 -0,0.978 -0,0.978l11,-0l-0,-0.978Z" style="fill:#0b0c0c;stroke:#000;stroke-width:1px;"/><path d="M7.5,8.49l0,7" style="fill:none;stroke:#000;stroke-width:1px;"/><path d="M10,8.49l0,7" style="fill:none;stroke:#000;stroke-width:1px;"/><path d="M12.5,8.49l0,7" style="fill:none;stroke:#000;stroke-width:1px;"/><path d="M7.5,4.823l0,-1.313c0,-0.552 0.448,-1 1,-1l3.125,0c0.552,0 1,0.448 1,1l-0,1.313" style="fill:none;stroke:#000;stroke-width:1px;"/></g></svg>');
    background-image: svg-url('<svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:1.5;"><path d="M6,17.49c-0.552,-0 -1,-0.448 -1,-1l0,-10l10,-0l-0.044,10c-0,0.552 -0.448,1 -1,1l-7.956,-0Z" style="fill:none;stroke:#000;stroke-width:1.25px;"/><path d="M3,6.49l14,-0" style="fill:none;stroke:#000;stroke-width:1.25px;"/><path d="M15.5,5.512c0,-0.139 -0.055,-0.272 -0.153,-0.369c-0.098,-0.098 -0.23,-0.153 -0.369,-0.153c-1.853,-0 -8.103,-0 -9.956,-0c-0.139,-0 -0.271,0.055 -0.369,0.153c-0.098,0.097 -0.153,0.23 -0.153,0.369c-0,0.433 -0,0.978 -0,0.978l11,-0l-0,-0.978Z" style="fill:#0b0c0c;stroke:#000;stroke-width:1.25px;"/><path d="M7.5,8.49l0,7" style="fill:none;stroke:#000;stroke-width:1.25px;"/><path d="M10,8.49l0,7" style="fill:none;stroke:#000;stroke-width:1.25px;"/><path d="M12.5,8.49l0,7" style="fill:none;stroke:#000;stroke-width:1.25px;"/><path d="M7.5,4.823l0,-1.313c0,-0.552 0.448,-1 1,-1l3.125,0c0.552,0 1,0.448 1,1l-0,1.313" style="fill:none;stroke:#000;stroke-width:1.25px;"/></svg>');
  }
}