
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% extends "layout.html" %}

{% block head %}
  {% include "includes/head.html" %}
  <!--<meta name="viewport" user-scalable="no">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
  <meta name="HandheldFriendly" content="true">
{% endblock %}

{% block pageTitle %}
  Map component - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Draw an area
    </h1>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to draw an area
        </span>
      </summary>
      <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Using a mobile phone or tablet</h2>
        <ol class="govuk-list govuk-list--number-expanded">
          <li>Press 'Start drawing'</li>
          <li>Choose a starting point for your area and adjust the map to move this into the circle</li>
          <li>Press 'Add point'</li>
          <li>Repeat step 2 and 3 until you have marked all the edges of your area</li>
          <li>Press 'Finish area'</li>
        </ol>
        <h2 class="govuk-heading-m">Using a mouse</h2>
        <ol class="govuk-list govuk-list--number-expanded">
          <li>Click 'Start drawing'</li>
          <li>Choose a starting point for your area and click to add a point</li>
          <li>Repeat step 2 until you have marked all the edges of your area</li>
          <li>Click on the first point again to finish</li>
        </ol>
        <h2 class="govuk-heading-m">Using a keyboard</h2>
        <ol class="govuk-list govuk-list--number-expanded">
          <li>Select 'Start drawing'</li>
          <li>Decide on a starting point for your area
          <li>Use <span class="defra-key-symbol">Shift</span> + <span class="defra-key-symbol">&#8679;</span> <span class="defra-key-symbol">&#8678;</span> <span class="defra-key-symbol">&#8681;</span> <span class="defra-key-symbol">&#8680;</span> or <span class="defra-key-symbol">&#43;</span> <span class="defra-key-symbol">&#8722;</span> to adjust the map, moving the point into the circle</li>
          <li>Select 'Add point'</li>
          <li>Repeat steps 3 and 4 until you have marked all the edges of your area</li>
          <li>Select 'Finish area'</li>
        </ol>
      </div>
    </details>
    <div id="map"></div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src='/public/javascripts/draw.js'></script>
{% endblock %}
