
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% extends "layout.html" %}

{% block head %}
  {% include "includes/head.html" %}
  <!--<meta name="viewport" user-scalable="no">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
  <meta name="HandheldFriendly" content="true">
{% endblock %}

{% block pageTitle %}
  Flood risk map prototype - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Flood risk map prototype
    </h1>
    <div id="risk-map"></div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src='/public/javascripts/application.js'></script>
{% endblock %}
