<div class="defra-map-key__section">
  <h3 class="defra-map-key__section-title">Rivers, seas and surface water</h3>
  <div class="defra-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="all" name="data" type="radio" value="ae" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="all">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#5694ca"/></svg>
            </span>
            Extent
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="defra-map-key__section">
  <h3 class="defra-map-key__section-title">River and seas</h3>
  <div class="defra-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rivers-seas" name="data" type="radio" value="re" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="rivers-seas">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#5694ca"/></svg>
            </span>
            Extent
          </span>
          <!-- <span class="defra-map-key__symbol-container defra-map-key__symbol-container--multi">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;"><circle cx="16" cy="16" r="12.5" style="fill:#5694ca;stroke:#fff;stroke-width:1px;"/><path d="M13,9.109l6,0l0,2.018l-3,0l0,0.968l3,0l0,2.027l-2,0l0,0.968l2,0l0,1.99l-2,0l0,0.968l2,0l0,2.485l-6,0.885l0,-12.309Z" style="fill:#fff;"/><path d="M10.697,21.184c0.393,0.389 0.886,0.731 1.767,0.731c1.792,0 1.711,-1.463 3.536,-1.463c1.825,0 1.71,1.463 3.536,1.463c0.826,0 1.24,-0.3 1.767,-0.731" style="fill:none;stroke:#5595ca;stroke-width:3.5px;stroke-linecap:round;stroke-linejoin:miter;"/><path d="M10.697,21.184c0.393,0.389 0.886,0.731 1.767,0.731c1.792,0 1.711,-1.463 3.536,-1.463c1.825,0 1.71,1.463 3.536,1.463c0.826,0 1.24,-0.3 1.767,-0.731" style="fill:none;stroke:#fff;stroke-width:1.5px;stroke-linecap:round;stroke-linejoin:miter;"/></svg>
            </span>
            Height and flow estimate
          </span> -->
        </label>
      </div>
    </div>
  </div>
</div>
<div class="defra-map-key__section">
  <h3 class="defra-map-key__section-title">Surface water</h3>
  <div class="defra-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="surface-water-depth" name="data" type="radio" value="sd" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="surface-water-depth">
          Depth
          <span class="defra-map-key__symbol-container defra-map-key__symbol-container--multi">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#003078"/></svg>
            </span>
            Over 0.9 metres
          </span>
          <span class="defra-map-key__symbol-container defra-map-key__symbol-container--multi">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#5694ca"/></svg>
            </span>
            0.3 to 0.9 metres
          </span>
          <span class="defra-map-key__symbol-container defra-map-key__symbol-container--multi">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#AAC9E4"/></svg>
            </span>
            Less than 0.3 metres
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="defra-map-key__item">
    <div class="govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="surface-water-velocity" name="data" type="radio" value="ss" aria-controls="viewport">
        <label class="govuk-label govuk-radios__label" for="surface-water-velocity">
          Speed
          <span class="defra-map-key__symbol-container defra-map-key__symbol-container--multi">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#003078"/></svg>
            </span>
            Over 0.25 m/s
          </span>
          <span class="defra-map-key__symbol-container defra-map-key__symbol-container--multi">
            <span class="defra-map-key__symbol">
              <svg aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 32 32"><rect x="5" y="5" width="22" height="22" style="fill:#5694ca"/></svg>
            </span>
            Less than 0.25 m/s
          </span>
          <!-- <span class="defra-map-key__symbol-container defra-map-key__symbol-container--multi">
            <span class="defra-map-key__symbol">
              <svg width="32" height="32" viewBox="0 0 32 32" fill-rule="evenodd"><path d="M22.668 15.001l-8.584-8.584L15.5 5l11 11-11.002 11.003-1.414-1.414 8.588-8.588H5v-2h17.668z" fill="currentColor"/></svg>
            </span>
            Direction of flow
          </span> -->
        </label>
      </div>
    </div>
  </div>
</div>