<div class="defra-map-scenarios__container">
    <button class="defra-map-scenario-button" data-scenario="1" aria-selected="true">
        <strong>Most likely</strong>
        <span>3.3% chance</span>
    </button>
    <button class="defra-map-scenario-button" data-scenario="2">
        <strong>Less likely</strong>
        <span>1% chance</span>
    </button>
    <button class="defra-map-scenario-button" data-scenario="3">
        <strong>Least likely</strong>
        <span>0.1% chance</span>
    </button>
</div>